core/src/main/java/uk/co/greenjam/jrgfinance/core/servlets/model/contact.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="afData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="afUnboundData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="emailAddress"/>
                    <xs:element type="xs:string" name="message"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
